p{
    font-size: 2.5rem;
}
h2 {
    font-size: 40px;
}

h3{
    font-size: 1.25em;
}

.parents{
    background-color: aquamarine;
    width: 25vw;
    font-size: 50px;
}

.child1{
    background-color: blueviolet;
    font-size: 0.5em;
    width: 50vw;
}

.child2{
    background-color: aqua;
    font-size: 50%;
    width: 100vw;
}