@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --radius: 10px;
  ---box-reflect: below 35px
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 53%,
      rgba(255, 255, 255, 1) 71%,
      rgba(255, 255, 255, 1) 90%
    );
}

.imge-upload {
  width: 185px;
  height: 54px;
  border-radius: var(--radius);
  background-color: #2f80ed;
  color: white;
  font-size: 18px;
  line-height: 26.06px;
  text-align: center;
  margin: 150px 0 0 150px;
}

.container {
  height: 50vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  perspective: 1000px;
}

.container button {
  width: 140px;
  height: 62px;
  border: solid 3px #828282;
  border-radius: 3px;
}

section .image-list {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.image-list li {
  position: absolute;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 10px 0px;
  border-radius: var(--radius);
}

li img {
  width: 289px;
  height: 289px;
  border-radius: var(--radius);
  -webkit-box-reflect: var(---box-reflect);
}

li:nth-child(even)::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

li:nth-child(odd):not(:nth-child(3))::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

li:nth-child(1) {
  transform: translate(-140%, 0);
  z-index: 100;
}

li:nth-child(2) {
  transform: translate(-70%, 0) translateZ(100px);
  z-index: 300;
}

li:nth-child(3) {
  transform: translate(0) translateZ(200px);
  z-index: 300;
}

li:nth-child(4) {
  transform: translate(70%, 0) translateZ(100px);
  z-index: 200;
}

li:nth-child(5) {
  transform: translate(140%, 0);
  z-index: 100;
}
